$primary-a0: #ffffff;
$primary-a10: #d2ebf4;
$primary-a20: #a2d6e9;
$primary-a30: #6cc2dd;
$primary-a50: #03aed2;
$primary-a60: #1b7f99;
$primary-a70: #1d5463;
$primary-a80: #162c33;
$primary-a90: #000000;

$secondary-a10: #fff6d6;
$secondary-a20: #ffeead;
$secondary-a30: #ffe683;
$secondary-a50: #fdde55;
