@use "colors";
@use "font";
@use "breakpoints";

:host {
  .loader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  table {
    width: 100%;
    font-size: 16px;
    border-collapse: collapse;
  }

  thead {
    background-color: colors.$primary-a10;

    th {
      white-space: nowrap;
      text-align: left;
      padding: 16px 8px;
      @include font.font-semibold;
    }
  }

  tr {
    &:nth-child(even) {
      background-color: colors.$secondary-a10;
    }
  }

  th,
  td {
    padding: 8px;
  }
}

@include breakpoints.media-breakpoint-up(sm) {
  :host {
    display: block;
    min-height: 300px;
    min-width: 400px;
  }
}
