<div class="wrapper" *ngIf="!isLoading; else showLoader">
  <table>
    <thead>
      <th
        [class]="getSortingClass('id')"
        (click)="onClickToggleSortBy('id')"
        (keydown.enter)="onClickToggleSortBy('id')"
        tabindex="0"
      >
        #
      </th>
      <th
        [class]="getSortingClass('accountId')"
        (keydown.enter)="onClickToggleSortBy('accountId')"
        (click)="onClickToggleSortBy('accountId')"
        tabindex="0"
      >
        Account Id
      </th>
      <th
        [class]="getSortingClass('bank')"
        (click)="onClickToggleSortBy('bank')"
        (keydown.enter)="onClickToggleSortBy('bank')"
        tabindex="0"
      >
        Bank
      </th>
      <th
        [class]="getSortingClass('balance')"
        (click)="onClickToggleSortBy('balance')"
        (keydown.enter)="onClickToggleSortBy('balance')"
        tabindex="0"
      >
        Balance
      </th>
      <th
        [class]="getSortingClass('currency')"
        (click)="onClickToggleSortBy('currency')"
        (keydown.enter)="onClickToggleSortBy('currency')"
        tabindex="0"
      >
        Currency
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let account of accounts">
        <td>{{ account.id }}</td>
        <td>{{ account.accountId }}</td>
        <td>{{ account.bank }}</td>
        <td>{{ account.balance | number }}</td>
        <td>{{ account.currency }}</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #showLoader>
  <div class="loader"><app-loader /></div>
</ng-template>
